<footer id="footer-container">
    <div class="footer-contents">
        <section class="footer-section-1">
            <div>
                <img src="images/icons/citybens/logotipo-branco-horiz.png" alt="citybens logotipo">
            </div>
            <div>
                <h1>+55 (18) 99116-3599</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur
                </p>
            </div>
            <div>
                <h1>+55 (18) 99116-3599</h1>
            </div>
            <div>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </section>
        <section class="footer-section-2">
            <div>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
            <div class="footer-btn-container">
                <button>
                    Entrar em contato <img src="images/icons/preto/link.png" alt="">
                </button>
            </div>
        </section>
        <section class="footer-section-3">
            <div>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </section>
        <section class="footer-section-4">
            <div>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </section>
        <section class="footer-section-5">
            <div>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </section>
    </div>
</footer>