<footer id="footer-container">
    <div class="footer-subcontainer">
        <section class="footer-section-1">
            <div class="footer-content-1">
                <dl>
                    <dt>Lorem ipsum</dt>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                </dl>
            </div>
            <div class="footer-content-2">
                <dl>
                    <dt>Lorem ipsum</dt>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                </dl>
            </div>
            <div class="footer-content-3">
                <dl>
                    <dt>Lorem ipsum</dt>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                </dl>
            </div>
            <div class="footer-content-4">
                <dl>
                    <dt>Lorem ipsum</dt>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                    <dd>Lorem ipsum dolor</dd>
                </dl>
            </div>
        </section>
        <section class="footer-section-2">
            <div class="footer-logotype">
                <img src="images/icons/citybens/logotipo-branco-horiz.png" alt="logotipo citybens">
            </div>
            <div class="footer-socials-container">
                <div class="footer-socials">
                    <a href="#">
                        <img src="/images/icons/branco/facebook.png" alt="icone facebook">
                    </a>
                    <a href="#">
                        <img src="/images/icons/branco/instagram.png" alt="icone instagram">
                    </a>
                    <a href="#">
                        <img src="/images/icons/branco/linkedin.png" alt="icone linkedin">
                    </a>
                </div>
            </div>
        </section>
        <section class="footer-section-3">
            <div class="created-by">
                <p>All rights reserved - Gabriel Carvalho &#38; Diogo Espindola ©</p>
            </div>
        </section>
    </div>
</footer>