<footer id="footer-container">
    <div class="footer-subcontainer">
        <div class="footerNossosContatos">
            <h1>Nossos contatos</h1>
        </div>
        <section class="footer-section-1">
            <div class="footerContent footer-content-1">
                <dl>
                    <dt><img src="/images/background/localidade.png" alt=""> Araçatuba</dt>
                    <dd>R. Luiz Pereira Barreto, 191 - Centro, Araçatuba - SP, 16010-320</dd>
                    <dd><img src="/images/background/e-mail.png" alt="icone e-mail"> citybens@citybens.com.br</dd>
                    <dd><img src="/images/background/contato.png" alt="icone whatsapp"> +55 (18)98824-5210</dd>
                </dl>
            </div>
            <div class="footerContent footer-content-2">
                <dl>
                    <dt><img src="/images/background/localidade.png" alt=""> São J. do Rio Preto</dt>
                    <dd>Av. Pres. Juscelino K. de Oliveira, 5000 - Shopping Iguatemi, São José do Rio Preto - SP, 15093-540</dd>
                    <dd><img src="/images/background/e-mail.png" alt="icone e-mail"> citybens@citybens.com.br</dd>
                    <dd><img src="/images/background/contato.png" alt="icone whatsapp"> +55 (18)98824-5210</dd>
                </dl>
            </div>
            <div class="footerContent footer-content-3">
                <dl>
                    <dt><img src="/images/background/localidade.png" alt=""> Rio de Janeiro</dt>
                    <dd>Avenida das Américas, nº 8585, Shopping Vogue Square, loja 127- Vogue Vendas,  Rio de Janeiro - RJ - CEP 22.793-081</dd>
                    <dd><img src="/images/background/e-mail.png" alt="icone e-mail"> citybens@citybens.com.br</dd>
                    <dd><img src="/images/background/contato.png" alt="icone whatsapp"> +55 (18)98824-5210</dd>
                </dl>
            </div>
        </section>
        <section class="footer-section-2">
            <div class="footer-logotype">
                <img src="images/icons/citybens/logotipo-branco-horiz.png" alt="logotipo citybens">
            </div>
            <div class="footer-socials-container">
                <div class="footer-socials">
                    <a target="_blank" href="https://pt-br.facebook.com/citybensoficial/">
                        <img src="/images/icons/preto/facebook_preto.png" alt="icone facebook">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/citybensspvilaclementino/?utm_medium=copy_link">
                        <img src="/images/icons/preto/instagram_preto.png" alt="icone instagram">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/citybens/mycompany/">
                        <img src="/images/icons/preto/linkedin_preto.png" alt="icone linkedin">
                    </a>
                </div>
            </div>
        </section>
    </div>
</footer>
