<header id="header-container">
        <img class="logo-header" src="images/icons/citybens/logotipo-preto.png" alt="Logo citybens">
        <div class="header-navigation">
            <nav class="navigation-items-content">
                <ul class="header-dropdown-menu">
                    <li>
                        <a class="header-dropdown-item-1" href="#">Lorem</a>
                        <ul class="header-dropdown-submenu">
                            <li><a href="#">lorem-1</a></li>
                            <li><a href="#">lorem-2</a></li>
                            <li><a href="#">lorem-3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="header-dropdown-item-2" href="#">Lorem</a>
                        <ul class="header-dropdown-submenu">
                            <li><a href="#">lorem-4</a></li>
                            <li><a href="#">lorem-5</a></li>
                            <li><a href="#">lorem-6</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="header-dropdown-item-3" href="#">Lorem</a>
                        <ul class="header-dropdown-submenu">
                            <li><a href="#">lorem-7</a></li>
                            <li><a href="#">lorem-8</a></li>
                            <li><a href="#">lorem-9</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="header-dropdown-item-4" href="#">Lorem</a>
                        <ul class="header-dropdown-submenu">
                            <li><a href="#">lorem-10</a></li>
                            <li><a href="#">lorem-11</a></li>
                            <li><a href="#">lorem-12</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="header-btn-lorem">Lorem Ipsum</button>
        </div>
</header>