<header id="header-container">
    <div class="header-subcontainer">
        <div class="header-logo">
            <a href="/">
                <img src="/images/icons/citybens/logotipo-branco.png" alt="Logotipo cabeçalho">
            </a>
        </div>
        <nav class="header-navigation">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <ul>
                <li><a href="#section7MainContainer">QUEM SOMOS</a></li>
                <li><a href="#section2MainContainer">SERVIÇOS</a></li>
                <li><a href="/filiais">Filiais</a></li>
                <li><a href="#">FALE CONOSCO</a></li>
            </ul>
            <div class="navigation-button">
                <a href="/consorcio">
                    <button>Simular consórcio</button>
                </a>
            </div>
        </nav>
    </div>
</header>
