<main id="consorcio-main-container">
    <div class="consorcio-contents-2">
        <div class="consorcio-titles-container">
            <div class="consorcio-title">
                <h1>Agora você pode!</h1>
            </div>
            <div class="dropdown-tags-container">
                <p class="error-message"></p>
            </div>
            <div class="consorcio-description">
                <p>Realize seus sonhos com a citybens.</p>
            </div>
        </div>
        <form id="form-sonho" action="/consorcio-dados" method="post">
            <input type="text" name="sonho" id="input-drop" placeholder="Qual o seu sonho?" readonly>
            <a href="https://www.google.com">
                <input type="submit" value="arrow_forward" class="consorcio-btn material-icons">
            </a>
            <div class="dropDown-container">
                <ul class="dropDown">
                    <li class="item item-1">
                        <i class="item-icons material-icons">home</i>
                        <div class="option-1">Consórcio de <span class="last_child_color">Imóveis</span></div>
                    </li>
                    <li class="item item-2">
                        <i class="item-icons material-icons">airport_shuttle</i>
                        <div class="option-2">Consórcio de <span class="last_child_color">Automóveis</span></div>
                    </li>
                    <li class="item item-3">
                        <i class="item-icons material-icons">motorcycle</i>
                        <div class="option-3">Consórcio de <span class="last_child_color">Motos</span></div>
                    </li>
                    <li class="item item-4">
                        <i class="item-icons material-icons">build</i>
                        <div class="option-4">Consórcio de <span class="last_child_color">Serviços</span></div>
                    </li>
                    <li class="item item-5">
                        <i class="item-icons material-icons">local_shipping</i>
                        <div class="option-5">Consórcio de <span class="last_child_color">Pesados</span></div>
                    </li>
                    <li class="item item-6">
                        <i class="item-icons material-icons">laptop_windows</i>
                        <div class="option-6">Consórcio de <span class="last_child_color">Eletrônicos</span></div>
                    </li>
                </ul>
            </div>
        </form>
        <div class="consorcio-slider-container">
            <div class="slider">
                <img class="slider-image" src="" alt="">
                <div class="slider-description">
                    <img class="slider-citybens-icon" src="images/icons/citybens/logotipo-branco.png" alt="logotipo citybens">
                    <p class="slider-text"></p>
                </div>
            </div>
        </div>
    </div>
</main>