<main id="consorcio-main-container">
    <div class="consorcio-sections">
        <section>
            <form id="form-sonho" action="/consorcio-dados" method="post">
                <div class="consorcio-title">
                    <h1>Agora você pode!</h1>
                </div>
                <div class="consorcio-description">
                    <p>Realize seus sonhos com a citybens.</p>
                </div>
                <div>
                    <p class="error-message"></p>
                    <input type="text" name="sonho" id="input-drop" placeholder="Qual o seu sonho?" readonly>
                    <a href="https://www.google.com">
                        <input type="submit" value="arrow_forward" class="consorcio-btn material-icons">
                    </a>
                    <div class="dropDown-container">
                        <div class="dropDown">
                            <div class="item">
                                <i class="item-icons material-icons">home</i>
                                <div id="item-1">Consórcio de <span class="last_child_color">Imóveis</span></div>
                            </div>
                            <div class="item">
                                <i class="item-icons material-icons">airport_shuttle</i>
                                <div id="item-2">Consórcio de <span class="last_child_color">Automóveis</span></div>
                            </div>
                            <div class="item">
                                <i class="item-icons material-icons">motorcycle</i>
                                <div id="item-3">Consórcio de <span class="last_child_color">Motos</span></div>
                            </div>
                            <div class="item">
                                <i class="item-icons material-icons">build</i>
                                <div id="item-4">Consórcio de <span class="last_child_color">Serviços</span></div>
                            </div>
                            <div class="item">
                                <i class="item-icons material-icons">local_shipping</i>
                                <div id="item-5">Consórcio de <span class="last_child_color">Pesados</span></div>
                            </div>
                            <div class="item">
                                <i class="item-icons material-icons">laptop_windows</i>
                                <div id="item-6">Consórcio de <span class="last_child_color">Eletrônicos</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <div class="consorcio-slider-container">
                <div class="slides">
                    <div class="slider slider-1">
                        <img src="https://images.unsplash.com/photo-1550855909-af303dd67c64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="consorcio car image">
                    </div>
                    <div class="slider slider-2">
                        <img src="https://images.unsplash.com/photo-1541348263662-e068662d82af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="consorcio car image">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>