<main id="consorcio-main-container">
    <div class="consorcio-main-contents">
        <form action="/consorcio-dados" method="post">
            <input type="text" name="categoria" id="input-drop" placeholder="Qual o seu sonho?">
            <a href="https://www.google.com">
                <input type="submit" value="arrow_forward" class="consorcio-btn material-icons">
            </a>
            <div class="dropDown">
                <div class="listDropDown">
                    <div class="item" id="item-1">Consórcio de <span class="item-span">Imóveis</span></div>
                    <div class="item" id="item-2">Consórcio de <span class="item-span">Motos</span></div>
                    <div class="item" id="item-4">Consórcio de <span class="item-span">Serviços</span></div>
                    <div class="item" id="item-5">Consórcio de <span class="item-span">Pesados</span></div>
                    <div class="item" id="item-6">Consórcio de <span class="item-span">Eletroeletrônicos</span></div>
                </div>
            </div>
        </form>
    </div>
</main>