<main id="main-container">
    <section class="section-1-top-card-container">
        <div class="main-top-card">
            <div class="top-card-text">
                <p>Lorem ipsum dolor <span>sit amet</span></p>
                <button class="top-card-button">Lorem ipsum</button>
            </div>
            <div class="top-card-vertical-slider">
                <p>
                    
                </p>
            </div>
        </div>
    </section>
    <section class="section-2-main-container">
        <h1>Sessão 2 lorem ipsum</h1>
        <div class="section-2-cards-container">
            <div class="section-2-card-1">
                <img src="images/background/section-2/percentual.png" alt="imagem de percentual 3d">
                <div class="card-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="section-2-card-2">
                <img src="images/background/section-2/grafico.png" alt="imagem de grafico 3d">
                <div class="card-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="section-2-card-3">
                <img src="images/background/section-2/carteira.png" alt="imagem de carteira 3d">
                <div class="card-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="section-2-card-4">
                <img src="images/background/section-2/moedas.png" alt="imagem de moedas em 3d">
                <div class="card-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3-main-container">
        <div class="section-3-initial-items">
            <h1>Lorem ipsum dolor sit</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <div class="playstore-appstore-icons">
                <img src="images/background/section-3/appstore.png" alt="Appstore">
                <img src="images/background/section-3/playstore.png" alt="Google Playstore">
            </div>
        </div>
        <img src="images/background/section-3/smartphone-app-screen.png" alt="imagem de um smarthphone">
    </section>
    <section class="section-4-main-container">
        <div class="section-4-header">
            <h1>Sessão 4 lorem ipsum</h1>
            <button>Lorem ipsum dolor sit</button>
        </div>
        <div class="section-4-cards-container">
            <div class="section-4-card-1">
                <img class="section-4-card-icon" src="images/icons/azul/electronics.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-2">
                <img class="section-4-card-icon" src="images/icons/azul/rocket.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-3">
                <img class="section-4-card-icon" src="images/icons/azul/gift.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-4">
                <img class="section-4-card-icon" src="images/icons/azul/mobile.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
        </div>
    </section>
    <section class="section-5-main-container">
        <div class="section-5-contents">
            <div class="section-5-content-1">
                <h1>Simular consórcio</h1>
                <div class="section-5-range-container">
                    <div class="section-5-range-1">
                        <p>Valor a pagar</p>
                        <h3 class="value">R$ 75.000</h3>
                        <input type="range" name="range-1" id="range-1">
                        <div class="section-5-range-description">
                            <p>R$ 50.000</p>
                            <p>R$ 75.000</p>
                            <p>R$200.000</p>
                        </div>
                    </div>
                    <div class="section-5-range-2">
                        <p>Parcelas</p>
                        <h3>24 parcelas</h3>
                        <input type="range" name="range-2" id="range-2">
                        <div class="section-5-range-description">
                            <p>12 parcelas</p>
                            <p>24 parcelas</p>
                            <p>48 parcelas</p>
                        </div>
                    </div>
                </div>
                <div class="section-5-range-observation">
                    <p>*Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="section-5-info-container">
                <div class="section-5-info-content">
                    <div class="info-content-1">
                        <p>Default percent</p>
                        <h3>Percentual: 18.0%</h3>
                    </div>
                    <div class="info-content-2">
                        <p>Total a pagar</p>
                        <h3>Valor: $75.000,00</h3>
                    </div>
                    <div class="info-content-3">
                        <p>Parcelas</p>
                        <h3>24 parcelas</h3>
                    </div>
                </div>
                <div class="section-5-info-footer">
                    <p>Lorem ipsum dolor set</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-6-main-container">
    <div class="section-6-card">
            <div class="section-6-card-text">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <input type="tel" id="phone" name="phone" value="+55 (__) _____ - ____" mask="+55 (__) _____ - ____" placeholder="+55 (__) _____ - ____" />
                <a href="#">lorem &#8827;</a>
            </div>
            <div class="section-6-card-vertical-slider">
                <img src="images/background/section-6/cell-app-screen.png" alt="apps na tela">
            </div>
        </div>
    </section>
    <section class="section-7-main-container">
        <div class="section-7-card">
            <div class="section-7-left-card">
                <h1>Lorem ipsum dolor</h1>
                <div class="text-box-container">
                <input type="number" step="0.01" name="valor" min="0.01">
                    <p class="manual-placeholder">Informar valor</p>
                    <div class="text-box-buttons-container">
                        <button>BRL</button>
                        <button>EUR</button>
                        <button>USD</button>
                        <button>GBP</button>
                        <button>CHF</button>
                    </div>
                </div>
                <p>
                    *Sujeito a taxas em relação a cotação atual da moeda.
                </p>
            </div>
            <div class="section-7-right-card">
            <!-- CORRIGIR
                <h1>Lorem ipsum dolor sit amet</h1>
                <div class="right-card-table-values-container">
                    <div class="table-row-title">
                        <p>Moeda</p>
                        <p>Cotação</p>
                        <p>Valor Total</p>
                    </div>
                    <div class="table-contents">
                        <div class="table-row table-row table-row-1">
                            <p>EUR</p>
                            <p>R$ 5,53</p>
                            <p>R$ 10,00</p>
                        </div>
                        <div class="table-comment table-row-1-comment">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="table-row table-row-2">
                            <p>USD</p>
                            <p>R$ 5.26</p>
                            <p>R$ 7,00</p>
                        </div>
                        <div class="table-comment table-row-2-comment">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="table-row table-row-3">
                            <p>GBP</p>
                            <p>R$ 6,41</p>
                            <p>R$ 12,00</p>
                        </div>
                        <div class="table-comment table-row-3-comment">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="table-row table-row-4">
                            <p>CHF</p>
                            <p>R$ 5,49</p>
                            <p>R$ 9,00</p>
                        </div>
                        <div class="table-comment table-row-4-comment">
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            -->

            <!--
                <table class="right-card-table">
                    <tr>
                        <td>Moeda</td>
                        <td>Cotação</td>
                        <td>Valor total</td>
                    </tr>
                    <tr>
                        <td>EUR</td>
                        <td>R$ 5,53</td>
                        <td>R$ 10,00</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>R$ 5.26</td>
                        <td>R$ 7,00</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>R$ 6,41</td>
                        <td>R$ 12,00</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>R$ 5,49</td>
                        <td>R$ 9,00</td>
                    </tr>
                </table>
            -->
            </div>
        </div>
    </section>
    <section class="section-8-main-container">
        <div class="section-8-contents">
            <div class="newsletter-title">
                <h1>Citybens Newsletter</h1>
                <button class="newsletter-button">Acessar newsletter</button>
            </div>
            <div class="section-8-cards-container">
                <div class="section-8-card section-8-card-1">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quam hic, maxime nesciunt, odio at deleniti aspernatur id nostrum molestias voluptates ut laudantium reiciendis officia, ad quo quaerat minus.</p>
                    <div class="card-date-container">
                        <h1>26</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At minus animi officiis illum cumque, fugit beatae soluta deserunt explicabo laborum veritatis corporis molestias, maiores autem porro dignissimos id ea eaque.</p>
                    <div class="card-date-container">
                        <h1>27</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-3">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis necessitatibus soluta quos consequatur dignissimos voluptatem tempore reiciendis dicta neque, vero officiis. Rem ipsum dignissimos nostrum enim adipisci ut eaque eligendi?</p>
                    <div class="card-date-container">
                        <h1>28</h1>
                        <p>2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>