<main id="main-container">
    <section class="section-1-top-card-container">
        <div class="main-top-card">
            <div class="left-card-container">
                <p>Lorem ipsum dolor <span>sit amet</span></p>
                <a href="/consorcio">
                    <button class="top-card-button">Simular consórcio</button>
                </a>
            </div>
            <div class="right-card-slider">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit eius ipsam voluptates necessitatibus quae aliquam hic expedita alias. Tempora soluta expedita autem nemo molestias vel praesentium! Exercitationem, quis ullam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit eius ipsam voluptates necessitatibus quae aliquam hic expedita alias. Tempora soluta expedita autem nemo molestias vel praesentium! Exercitationem, quis ullam?
                </p>
            </div>
        </div>
    </section>
    <section class="section-2-main-container">
        <div class="section-2-contents">
            <h1>Sessão 2 lorem ipsum</h1>
            <div class="section-2-cards-container">
                <div class="section-2-card-1">
                    <img src="/images/background/section-2/percentual.PNG" alt="imagem de percentual 3d">
                    <div class="card-description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="section-2-card-2">
                    <img src="/images/background/section-2/grafico.PNG" alt="imagem de grafico 3d">
                    <div class="card-description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="section-2-card-3">
                    <img src="/images/background/section-2/carteira.PNG" alt="imagem de carteira 3d">
                    <div class="card-description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="section-2-card-4">
                    <img src="/images/background/section-2/moedas.PNG" alt="imagem de moedas em 3d">
                    <div class="card-description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3-main-container">
        <div class="section-3-grid-items">
            <div class="section-3-titles">
                <h1>Baixe nosso aplicativo</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="playstore-appstore-icons">
                <img src="/images/background/section-3/appstore.png" alt="Appstore">
                <img src="/images/background/section-3/playstore.png" alt="Google Playstore">
            </div>
            <div class="cellphone-background">
                <img src="/images/background/section-3/smartphone-app-screen.png" alt="imagem de um smarthphone">
            </div>
        </div>
    </section>
    <section class="displayNone section-4-main-container">
        <div class="section-4-header">
            <h1>Sessão 4 lorem ipsum</h1>
            <a href="/consorcio">
                <button>Faça um consórcio</button>
            </a>
        </div>
        <div class="section-4-cards-container">
            <div class="section-4-card-1">
                <img class="section-4-card-icon" src="/images/icons/azul/electronics.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-2">
                <img class="section-4-card-icon" src="/images/icons/azul/rocket.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-3">
                <img class="section-4-card-icon" src="/images/icons/azul/gift.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
            <div class="section-4-card-4">
                <img class="section-4-card-icon" src="/images/icons/azul/mobile.png" alt="">
                <p class="section-4-card-description">Lorem ipsum</p>
            </div>
        </div>
    </section>
<!-- Display none -->
    <section class="displayNone section-6-main-container">
    <div class="section-6-card">
            <div class="section-6-card-text">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <input type="tel" id="phone" name="phone" value="+55 (__) _____ - ____" mask="+55 (__) _____ - ____" placeholder="+55 (__) _____ - ____" />
                <a href="#">lorem →</a>
            </div>
            <div class="section-6-card-vertical-slider">
                <img src="/images/background/section-6/cell-app-screen.png" alt="apps na tela">
            </div>
        </div>
    </section>
<!-- Fim display none -->
    <section class="section-7-main-container">
        <div class="section-7-card">
            <div class="section-7-left-card">
                <div class="left-card-contents">
                    <h1>Lorem ipsum dolor</h1>
                    <div class="input-number-container">
                        <input type="number" step="0.01" name="valor" min="0.01">
                        <p class="manual-placeholder">Informar valor</p>
                    </div>
                    <div class="moedas-container">
                        <button>BRL</button>
                        <button>EUR</button>
                        <button>USD</button>
                        <button>GBP</button>
                        <button>CHF</button>
                    </div>
                    <p class="card-left-taxa">
                        *Sujeito a taxas em relação a cotação atual da moeda.
                    </p>
                </div>
            </div>
            <div class="section-7-right-card">
                <h1>Tabela de valores de cotação</h1>
                <table class="section-7-right-card-container">
                    <thead>
                        <th>Moeda</th>
                        <th>Cotação</th>
                        <th>valor total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EUR</td>
                            <td>R$ 5.53</td>
                            <td>R$ 10.00</td>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td>R$ 5.26</td>
                            <td>R$ 7,00</td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>R$ 6,41</td>
                            <td>R$ 12,00</td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>R$ 5,49</td>
                            <td>R$ 9,00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="section-7-table-buttons">
                    <button>Lorem ipsum</button>
                    <button>Lorem ipsum</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-8-main-container">
        <div class="section-8-contents">
            <div class="newsletter-title">
                <h1>Citybens Newsletter</h1>
                <button class="newsletter-button">Acessar</button>
            </div>
            <div class="section-8-cards-container">
                <div class="section-8-card section-8-card-1">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quam hic, maxime nesciunt, odio at deleniti aspernatur id nostrum molestias voluptates ut laudantium reiciendis officia, ad quo quaerat minus.</p>
                    <div class="card-date-container">
                        <h1>26</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At minus animi officiis illum cumque, fugit beatae soluta deserunt explicabo laborum veritatis corporis molestias, maiores autem porro dignissimos id ea eaque.</p>
                    <div class="card-date-container">
                        <h1>27</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-3">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis necessitatibus soluta quos consequatur dignissimos voluptatem tempore reiciendis dicta neque, vero officiis. Rem ipsum dignissimos nostrum enim adipisci ut eaque eligendi?</p>
                    <div class="card-date-container">
                        <h1>28</h1>
                        <p>2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>