#consorcio-main-container {
    margin: 170px 0 0 0;
    padding: 0 60px;
}

.consorcio-sections {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center */
}

.consorcio-sections, #form-sonho {
    height: 500px;
}

.consorcio-section-1 {
    /* width: 100%; */
}

#form-sonho {
    /*
    position: relative;
    display: flex;
    justify-content: space-around;
    */
}

/* Grid test */
        #form-sonho {
            display: grid;
            grid-template-areas:
                'slider'
                'title'
                'description'
                'dropbox'
            ;
            grid-auto-rows: 400px;
        }

        .consorcio-title {
            grid-area: title;
        }

        .consorcio-description {
            grid-area: description;
        }

        .dropDown-container {
            grid-area: dropbox;
        }

        .consorcio-slider-container {
            grid-area: slider;
        }
/* fim grid test */

.consorcio-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.consorcio-title h1 {
    color: var(--blue-background);
    font-size: 4em;
    width: 500px;
}

.consorcio-description {
    font-size: 25px;
    color: var(--font-description-grey);
}

.error-message {
    position: absolute;
    bottom: 40px;
    z-index: 1;
}

#input-drop {
    min-width: 300px;
    border: 2px solid var(--blue-background);
    border-radius: 10px 0 0 10px;
    position: relative;
    padding: 0 15px;
    font-size: 20px;
}

#input-drop:focus {
    outline: none;
}

#input-drop, .consorcio-btn {
    height: 55px;
}

.consorcio-btn {
    position: absolute;
    border: 2px solid var(--blue-background);
    border-left: 0;
    width: 60px;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    color: var(--blue-background);
}

.consorcio-btn:hover {
    background-color: var(--blue-background);
    color: white;
}

.dropDown-container {
    position: relative;
}

.dropDown {
    width: 300px;
    margin: 2px 0 0 0;
    height: 125px;
    overflow: auto;
    border-radius: 8px 6px 6px 8px;
    border: 1px solid var(--blue-background);
    background-color: #dbe7e6;
    border-right: 0;
    display: none;
    position: absolute;
    bottom: 57px;
    z-index: 1;
    padding: 0;
}

.dropDown::-webkit-scrollbar,
.dropDown::-webkit-scrollbar-thumb,
.dropDown::-webkit-scrollbar-track {
    border-radius: 10px;
}

.dropDown::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(255, 255, 255, 0.749);
}

.dropDown::-webkit-scrollbar-thumb {
    background-color: var(--blue-background);
}

.dropDown::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.dropDown::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(161, 154, 154);
}

.item {
    background-color: rgb(0, 0, 0, 0);
    border-bottom: 1px solid var(--blue-background);
    border-top: 0;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--font-description-grey);
    width: 100%;
    height: 60px;
}

.item span {
    margin: 0 0 0 5px;
}

.item:last-child {
    border-bottom: 0;
}

.item:hover {
    background-color: #c8c8c8;
    padding-left: 7px;
    transition: .3s;
}

.item-icons {
    font-size: 40px !important;
    text-align: center !important;
    color: var(--blue-background) !important;
    margin: 0 20px 0 0 !important;
}

.consorcio-slider-container {
    position: relative;
}

.consorcio-slider-container,
.slides,
.slider,
.slider-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.slider {
    position: absolute;
    overflow: hidden;
}

.slider-image {
    position: relative;
}

.slider-description {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, #000 99%);
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-description img {
    width: 150px;
    height: 80px;
}

.slider-text {
    color: #fff;
    text-align: center;
}

.text-error {
    color: red;
}

.input-error {
    border: 2px solid red !important;
}

.btn-error {
    border: 2px solid red !important;
    border-left: 0 !important;
    color: red !important;
}

.btn-error:hover {
    background-color: red !important;
    color: #fff !important;
}

.last_child_color {
    color: var(--blue-background) !important;
}

/* media queries 601x962 / 414x896 / 360x640 */
@media screen and (max-width: 768px) {
    .consorcio-title h1 {
        
    }

    .consorcio-description p {
        font-size: 25px;
    }

    .consorcio-slider-container, .slider, .slider-image {
        min-width: 490px;
        max-width: 540px;
        width: 100%;
        height: 300px;
    }

    .slider-description {
        display: none;
    }

    #input-drop {
        min-width: 430px;
        max-width: 600px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    #consorcio-main-container {
        padding: 0;
    }

    .consorcio-slider-container {
        display: none;
    }
}
/* Fim media queries */