@import url(index.css);
@import url(footer.css);
@import url(header.css);
@import url(simulacao.css);
@import url(consorcio.css);
@import url(informe-seus-dados.css);

:root {
    --blue-background: #0057ff;
    --grey-1-background: #ececec;
    --grey-2-background: #1c1c1c;
    --font-description-grey: #7f7f7f;
}

@font-face {
    font-family: 'citybens';
    src: url(/fonts/Poppins-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'citybens', Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none !important;
}

footer {
    padding: 0 60px;
}

.displayNone {
    display: none !important;
}