#footer-container {
    padding: 50px 60px 50px 60px;
    background-color: var(--grey-2-background);
    position: relative;
}

.footer-contents {
    display: flex;
    justify-content: space-around;
    height: 400px;
    color: white;
    font-weight: 100;
}

.footer-contents h1 {
    color: var(--blue-background);
}

.footer-contents h3 {
    color: var(--blue-background);
    font-weight: 100;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-btn-container > button {
    position: relative;
    padding: 10px 35px 10px 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
    border: 1px solid #0057ff;
}

.footer-btn-container > button:hover {
    background-color: rgba(255, 255, 255, 0.121);
}

.footer-btn-container button > img {
    width: 20px;
    position: absolute;
    right: 10px;
    transition: .2s ease-in-out;
}

.footer-btn-container button > img:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}


