#main-container {
    padding: 120px 0 0 0;
}

/* Section 1 top card */
.section-1-top-card-container {
    display: flex;
    justify-content: center;
}

.main-top-card {
    display: flex;
    justify-content: center;
    max-width: 4000px;
    width: 85%;
}

.left-card-container {
    background-color: var(--city-background-3);
    grid-area: left-container;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    font-size: 2.5em;
    width: 100%;
    color: white;
}

.left-card-container p {
    font-size: 2vw;
    margin: 0;
    text-align: center;
}

.right-card-slider p {
    margin: 0;
    color: black;
}

.left-card-container p span {
    color: var(--city-background-green);
    flex-wrap: wrap;
}

.top-card-button {
    background-color: var(--city-background-blue);
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    max-width: 250px;
    border: 0;
}

.top-card-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}
.left-card-container,
.right-card-slider {
    max-width: 1400px;
    width: 80%;
    min-width: 280px;
    max-height: 1400px;
    height: 35vw;
    min-height: 320px
}

.right-card-slider {
    border-radius: 0 25px 25px 0;
    background-color: var(--city-background-green);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    grid-area: right-container;
}
/* Fim section 1 top card */

/* Section 2 */
#section2MainContainer {
    width: 100%;
    height: 500px;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}
.section2Contents {
    width: 100%;
    max-width: 2700px;
    height: 500px;
    overflow: auto;
    display: flex;
    padding: 15px 20px;
}
.section2Contents::-webkit-scrollbar {
    height: 10px;
}

.section2Contents::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.section2Contents::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 22);
}
.section2Card1,
.section2Card2,
.section2Card3,
.section2Card4 {
    min-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
}
.topicDescriptionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 20px;
}
.topicTypeDescription {
    display: inline-block;
    font-size: 3rem;
}
.cardDescription {
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 19px 19px;
    padding: 20px;
    width: 100%;
    height: 146px;
}
.cardDescription p {
    color: var(--city-background-green);
    font-size: 1.6rem;
}
.section2Contents div:not(:last-child) {
    margin: 0 20px 0 0;
}
.section2Card1,
.section2Card2,
.section2Card3,
.section2Card4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section2Card1 {
    background-image: url("/images/background/section-2/agro.jpg");
}
.section2Card2 {
    background-image: url("/images/background/section-2/automovel.jpg");
}
.section2Card3 {
    background-image: url("/images/background/section-2/construcao.jpg");
}
.section2Card4 {
    background-image: url("/images/background/section-2/nautico.jpg");
}
/* Fim section 2 */

/* Sessão outros */
.sectionOutrosMain {
    width: 100%;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}
.secOutrosSubcontainer {
    width: 100%;
    max-width: 2700px;
}
.secPrimaryMessageContainer {
    text-align: center;
    text-transform: uppercase;
}
.secPrimaryMessageContainer p {
    color: var(--city-background-green);
    font-size: 1.9rem;
}
.secPrimaryMessageContainer h1 {
    color: var(--city-background-2);
    font-size: 3rem;
}
.secOutrosVantagens {
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
    padding: 0 0 30px 0;
    position: relative;
}
.secOutrosVantagens::after {
    content: "";
    width: 70%;
    height: 0.5px;
    background-color: var(--city-background-2);
    position: absolute;
    bottom: 0;
}
.secVantagens {
    width: 450px;
    border: 1px solid var(--city-background-green);
    padding: 20px;
    border-radius: 20px;
}
.secVantagens:not(:last-child) {
    margin: 0 30px 0 0;
}
.secVantagemContentPrimary {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;
}
.secVantagemIcon {
    margin: 0 10px 0 0;
}
.secVantagemTitle h1 {
    color: #fff;
    border-bottom: 1px solid var(--city-background-green);
    padding: 0 0 10px 0;
}
.secVantagemContentSecondary p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify;
}
.secOutrosSecondary {
    margin: 70px 0 0 0;
}
.secSecondaryMessageContainer {
    margin: 0 0 20px 0;
}
.secSecondaryMessageContainer h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.secSecondVideo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.secSecondVideo video {
    width: 90%;
}
/* Fim sessão outros */

/* Sessão 3 */
.section-3-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 70px 0 0 0;
    height: auto;
}

.section-3-grid-items {
    max-width: 2700px;
    width: 90%;
    background-color: var(--city-background-3);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'title cell'
        'playstore cell'
    ;
    padding: 20px 30px;
}

.section-3-titles {
    grid-area: title;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.section-3-titles > h1 {
    font-size: 3em;
    color: var(--city-background-blue);
}

.section-3-titles p {
    font-size: 1.2em;
    font-weight: 600;
}

.playstore-appstore-icons {
    grid-area: playstore;
    display: flex;
    justify-content: center;
}

.playstore-appstore-icons img {
    width: 180px;
    height: 55px;
    cursor: pointer;
    transition: .5s;
}

.playstore-appstore-icons img:nth-of-type(1) {
    margin: 0 15px 0 0;
}

.playstore-appstore-icons img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.cellphone-background {
    grid-area: cell;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 85%;
}

.cellphone-background img {
    max-width: 1000px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 5px;
}
/* Fim sessão 3 */

/* Sessão 4 */
.section-4-main-container {
    margin: 70px 0 0 0;
}

.section-4-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-4-header button {
    border: 1px solid var(--city-background-green);
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer
}

.section-4-header button:hover {
    background-color: #0055ff5c;
}

.section-4-cards-container {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-4-card-1,
.section-4-card-2,
.section-4-card-3,
.section-4-card-4 {
    background-color: var(--city-background-2);
    border-radius: 20px;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4-card-description {
    margin: 15px 0 0 0;
}

.section-4-card-icon {
    width: 30px;
}
/* Fim sessão 4 */

/* Sessão 6  - não usada no site*/
.section-6-main-container {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}

.section-6-card {
    width: 90%;
    height: 80vh;
    background: rgb(0,0,0);
    background: linear-gradient(115deg, rgba(0,0,0,1) 10%, rgba(13,13,13,1) 50%, rgba(232,255,1,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-6-card-text {
    border-radius: 25px 0 0 25px;
    width: 45%;
    color: white;
    display: flex;
    flex-direction: column;
}

.section-6-card-text h1 {
    font-size: 2.3em;
}

.section-6-card-text p {
    font-size: 13px;
}

.section-6-card-text input[type=tel] {
    border: 1px solid white;
    background-color: var(--city-background-green);
    color: white;
    width: 185px;
    margin: 20px 0 0 0;
    padding: 10px 15px;
    border-radius: 30px;
}

.section-6-card-text input[type=tel]:focus {
    border: none;
}

.section-6-card-text a {
    margin: 15px 0 0 0;
    color: white;
    width: 65px;
}

.section-6-card-vertical-slider {
    height: 100%;
    display: flex;
    align-items: center;
}

.section-6-card-vertical-slider img {
    width: 400px;
}
/* Fim sessão 6 */

/* Sessão do Sobre */
#section7MainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.s7Subcontainer {
    width: 100%;
    max-width: 2700px;
    height: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.s7titleContainer {
    width: 100%;
    max-width: 1400px;
    justify-content: start;
    margin: 0 0 20px 0;
}
.s7titleContainer h1 {
    color: var(--city-background-blue);
    font-size: 6rem;
}
.s7cardLogoContainer {
    width: 100%;
    display: flex;
    justify-content: start;
}
.s7CardsContainer {
    display: grid;
    grid-template-areas:
        "s7card1 s7card2"
        "s7card3 s7card3"
    ;
    gap: 15px;
    max-width: 1400px;
}
.s7card {
    width: auto;
    height: 320px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.s7background {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.s7background1 {
    background-image: url(/images/background/citybens.jpg);
}
.s7background2 {
    background-image: url(/images/background/section-2/agro.jpg);
}
.s7background3 {
    background-image: url(/images/background/familia-carro.jpg);
}
.s7card:hover > .s7background {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.s7cardInternContainer {
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.6rem ;
    color: #fff;
}
.s7cardLogotipo {
    width: 150px;
    margin: 0 0 30px 0;
}
.s7background {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.s7card1 {
    grid-area: s7card1;
    margin: 0 0 0 70px;
}
.s7card2 {
    grid-area: s7card2;
    margin: 0 70px 0 0;
}
.s7card3 {
    grid-area: s7card3;
    margin: 0 70px;
}
.s7card3 p {
    width: 600px;
}
/* Fim sessão do sobre */

/* Sessão 8 */
.section-8-main-container {
    margin: 70px 0 0 0;
}

.section-8-main-container h1 {
    margin-bottom: 0;
}

.blog-title {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    padding: 0 20px;
    color: var(--city-background-green);
}

.blog-button {
    padding: 8px 20px;
    background-color: var(--city-background-blue);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

.blog-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}

.section-8-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-8-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.section-8-card {
    max-width: 360px;
    width: 100%;
    max-height: 400px;
    height: 100vw;
    min-height: 312px;
    background-color: var(--city-background-blue);
    padding: 30px 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-8-card:not(:last-child) {
    margin: 0 20px 0 0;
}

.card-date-container::before {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
}

.card-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 25px 0 0 0 ;
}

.card-date-container h1 {
    font-size: 2.5em;
    color: var(--city-background-green);
}
/* Fim sessão 8 */

/**/
/* Media queries */
/**/
@media screen and (max-width: 1180px) {
    .section-2-cards-container {
        padding: 0 10px;
    }

    .section-2-contents h1 {
        padding: 0 0 0 10px;
    }

    .section-2-cards-container {
        justify-content: initial;
        margin-left: 12%;
        margin-right: 12%;
    }

    .section-8-cards-container {
        padding: 0 10px;
        justify-content: initial;
    }
}

@media screen and (max-width: 962px) {
    .section-3-main-container {
        height: auto;
    }

    .section-3-grid-items {
        align-items: center;
        grid-template-columns: auto;
        grid-template-areas:
            'title'
            'cell'
            'playstore'
        ;
        padding: 20px 0;
    }

    .cellphone-background {
        max-width: none;
    }

    .cellphone-background img {
        max-width: 362px;
        width: 50vw;
    }

    .section-3-titles h1 {
        font-size: 5vw;
    }

    .playstore-appstore-icons {
        margin: 20px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 943px) {
    .section-3-container-items {
        grid-template-columns: auto;
        grid-template-areas:
            'items'
            'cellphone'
        ;
    }

    .section-3-items {
        margin: 4% 0 0 0;
    }

    .cellphone-background img {
        width: 75%;
    }

    .section-7-card {
        grid-template-rows: auto auto;
        grid-template-areas:
            'card-1'
            'card-2'
        ;
        width: 100%;
    }

    .section-7-left-card,
    .section-7-right-card {
        max-width: 635px;
        width: 95%;
    }

    .section-7-left-card {
        border-radius: 25px 25px 0 0;
    }

    .section-7-right-card {
        border-radius: 0 0 25px 25px;
    }

    .section-8-card {
        max-width: 365px;
        width: 100%;
        min-width: 249px;
        max-height: 200px;
        height: 100vw;
        min-height: 312px;
    }
}

@media screen and (max-width: 867px) {
    .main-top-card {
        display: grid;
        grid-template-areas:
            'left-container'
            'right-container'
        ;
    }

    .left-card-container,
    .right-card-slider {
        width: 95vw;
        height: 40vw;
        min-height: 270px;
    }

    .left-card-container {
        border-radius: 25px 25px 0 0;
    }

    .left-card-container p {
        font-size: 5vw;
    }

    .right-card-slider {
        border-radius: 0 0 25px 25px;
    }
}

@media screen and (max-width: 621px) {
    .section-2-card-1,
    .section-2-card-2,
    .section-2-card-3,
    .section-2-card-4,
    .card-description {
        max-width: 280px;
        width: 100%;
        min-width: 180px;
    }

    .section-7-table-buttons button {
        width: 35vw;
    }
}

@media screen and (max-width: 484px) {
    .section-3-titles h1 {
        font-size: 6vw;
    }

    .playstore-appstore-icons {
        flex-direction: row;
        align-items: center;
    }

    .playstore-appstore-icons img {
        max-width: 180px;
        width: 40%;
        min-width: 60px;
        height: auto;
    }

    .playstore-appstore-icons img:nth-of-type(1) {
        margin: 0 0 0 0;
    }

    .playstore-appstore-icons img:nth-of-type(2) {
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width: 460px) {
    .section-7-left-card {
        text-align: center;
    }

    .section-7-right-card {
        padding: 20px 10vw;
    }

    .moedas-container {
        flex-direction: column;
        margin: 0;
        display: none;
    }

    .top-card-button {
        max-width: 203px;
        width: 70vw;
        font-size: 2.9vw;
    }
}

@media screen and (max-width: 430px) {
    .section-3-items h1 {
        font-size: 7vw;
    }

    .top-card-button {
        font-size: 3.1;
    }
}

@media screen and (max-width: 380px) {
    .info-content-1 h1 {
        font-size: 6vw;
    }

    .blog-title {
        padding: 0 6px;
    }

    .top-card-button {
        font-size: 3.5vw;
    }
}
/* FIm media queries */
