#consorcio-dados-container {
    margin: 160px 0 0 0;
}

.last_word_format {
    color: var(--city-background-1);
    font-size: 5rem;
    line-height: 40px;
}

.consorcio-dados-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.consorcio-dados-title {
    max-width: 550px;
    width: 100%;
    margin: 0 0 5px 0;
}

.dados-hello {
    font-size: 4rem;
    color: grey;
}

.escolha-text {
    width: 190px;
    font-size: 1.8rem;
    margin: 0;
}

.opcao-consorcio-escolhida {
    display: flex;
    align-items: center;
}

.form-dados-consorcio {
    display: none;
}

.escolha-icone {
    color: var(--city-background-1);
    font-size: 8.5rem !important;
    margin: 0 10px 0 0;
}

.consorcio-dados-form {
    display: grid;
    grid-template-areas:
        'nome nome'
        'email email'
        'celular cep'
        'termos termos'
        '. botao'
    ;
    gap: 35px 10px;
    max-width: 550px;
    width: 100%;
}

.consorcio-dados-input {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    outline: 0;
    border: 1px solid var(--city-background-1);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 200;
}

.consorcio-dados-input-name {
    grid-area: nome;
}

.consorcio-dados-input-email {
    grid-area: email;
}

.input-celular-container {
    grid-area: celular;
}

.input-celular-container input,
.input-cep-container input {
    width: 100%;
    min-width: 130px;
}

.input-cep-container {
    grid-area: cep;
}

.checkbox-termos {
    width: 15px;
}

.termos-de-uso {
    display: flex;
    align-items: center;
    grid-area: termos;
    width: 100%;
}

.termos-de-uso input {
    margin: 0 5px 0 0;
}

.termos-de-uso p {
    margin: 0;
    font-size: 1.3rem
}

.termos-de-uso p a {
    color: var(--city-background-1)
}

.dados-button-container {
    grid-area: botao;
    display: flex;
    justify-content: flex-end;
}

.btn-enviar-dados {
    background-color: var(--city-background-1);
    width: 160px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    border: 0;
    font-size: 1.6rem;
}

.btn-enviar-dados:hover {
    background-color: rgba(0, 0, 255, 0.371);
}

@media screen and (max-width: 416px) {
    .consorcio-dados-input-celular::placeholder {
        font-size: 3.2vw;
    }

    .last_word_format {
        font-size: 10.5vw;
    }
}

@media screen and (max-width: 398px) {
    .consorcio-dados-input-cep::placeholder {
        font-size: 3.3vw;
    }
}
