:root {
  --city-background-green: #e8ff01;
  --city-background-blue: #2A2EFF;
  --city-background-2: #fff;
  --city-background-3: #000;
  --city-background-4: #7f7f7f;
  --city-background-5: #0D0D0D;
}

@font-face {
  font-family: 'citybens';
  src: url(/fonts/Poppins-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'citybens', Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--city-background-5) !important;
}

html, body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none !important;
}

.displayNone {
  display: none !important;
}

p {
  color: #fff;
}
