<main id="consorcio-main-container">
    <div class="consorcio-contents-2">
        <div class="consorcio-titles-container">
            <div class="consorcio-title">
                <h1>Agora você pode!</h1>
            </div>
            <div class="consorcio-description">
                <p>Realize seus sonhos com a citybens.</p>
            </div>
        </div>
        <form id="form-sonho" action="/informe-seus-dados" method="post">
            <div class="error-message-container">
                <p class="error-message"></p>
            </div>
            <input type="text" name="sonho" id="input-drop" placeholder="Qual o seu sonho?" readonly>
            <a href="https://www.google.com">
                <input type="submit" value="arrow_forward" class="consorcio-btn material-icons">
            </a>
            <div class="dropDown-container">
                <ul class="dropDown">
                    <li class="item item-1">
                        <i class="item-icons material-icons">home</i>
                        <div class="option-1">Consórcio de <span class="last_child_color">Imóveis</span></div>
                    </li>
                    <li class="item item-2">
                        <i class="item-icons material-icons">airport_shuttle</i>
                        <div class="option-2">Consórcio de <span class="last_child_color">Automóveis</span></div>
                    </li>
                    <li class="item item-3">
                        <i class="item-icons material-icons">motorcycle</i>
                        <div class="option-3">Consórcio de <span class="last_child_color">Motos</span></div>
                    </li>
                    <li class="item item-4">
                        <i class="item-icons material-icons">build</i>
                        <div class="option-4">Consórcio de <span class="last_child_color">Serviços</span></div>
                    </li>
                    <li class="item item-5">
                        <i class="item-icons material-icons">local_shipping</i>
                        <div class="option-5">Consórcio de <span class="last_child_color">Pesados</span></div>
                    </li>
                    <li class="item item-6">
                        <i class="item-icons material-icons">laptop_windows</i>
                        <div class="option-6">Consórcio de <span class="last_child_color">Eletrônicos</span></div>
                    </li>
                </ul>
            </div>
        </form>
        <div class="consorcio-slider-container">
            <div class="slider">
                <img class="slider-image" src="" alt="">
                <div class="slider-description">
                    <img class="slider-citybens-icon" src="images/icons/citybens/logotipo-branco.png" alt="logotipo citybens">
                    <p class="slider-text"></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const item = document.querySelectorAll(".item");
    const form = document.querySelector("#form-sonho");

    form.addEventListener("submit", () => {
        setSessionStorageDropboxValue();
        valueInputTextVerification();
    });

    for(let i = 0; i < item.length; i++) {
        item[i].addEventListener("mousedown", function(e) {
            const icon = e.currentTarget.childNodes[1].textContent;
            const consorcioDe = e.currentTarget.childNodes[3].firstChild.textContent;
            const span = e.currentTarget.childNodes[3].lastElementChild.textContent;

            sessionStorage.setItem("span", span);
            sessionStorage.setItem("consorcioDe", consorcioDe);
            sessionStorage.setItem("icone", icon);
        });
    }

    function setSessionStorageDropboxValue() {
        const dropText = document.querySelector("#input-drop").value;

        sessionStorage.setItem("tipoConsorcio", dropText);
    }

    const dropbox = document.querySelector("#input-drop");
    const droplist = document.querySelector(".dropDown");
    const submit = document.querySelector(".consorcio-btn");

    function inputItem(num) {
        const option = document.querySelector(".option-" + num);
        const item = document.querySelector(".item-" + num);

        item.addEventListener("mousedown", () => {
            dropbox.value = option.textContent;
        });
    }
    for(let i = 1; i < 7; i ++) {
        inputItem(i);
    }

    function includeEvent(item, event, display) {
        item.addEventListener(event, () => {
            droplist.style = `display: ${display} !important`;
        });
    }
    includeEvent(dropbox, "focus", "block");
    includeEvent(dropbox, "blur", "none");

    function valueInputTextVerification(event) {
        if(dropbox.value == "") {
            const p = document.querySelector(".error-message");

            p.innerHTML = "*Campo obrigatório";
            p.classList.add("text-error");
            dropbox.classList.add("input-error");
            submit.classList.add("btn-error");

            event.preventDefault();
        }
    }

    function sliderCall(num) {
        const images = {
            imovel: "https://images.unsplash.com/photo-1558661091-5cc1b64d0dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
            automovel: "https://images.unsplash.com/photo-1541348263662-e068662d82af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
            moto: "https://images.unsplash.com/photo-1617109887854-f661d37fca2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
            servico: "https://img.freepik.com/fotos-gratis/mecanico-de-manutencao-de-um-carro_1170-1601.jpg?t=st=1658233991~exp=1658234591~hmac=bb9a66f2d2d847decdc6ec0c3b6cd2f65bc8197f31feef9f9900c91ac04bfa24&w=360",
            pesados: "https://images.unsplash.com/photo-1605314774430-633783cadd29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
            eletronicos: "https://images.unsplash.com/photo-1586210579191-33b45e38fa2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80s",
            default: "/images/slider/default.png"
        };

        const sliderImage = document.querySelector(".slider-image");
        const item = document.querySelector(".item-" + num);
        const p = document.querySelector(".slider-text");

        window.addEventListener("load", () => {
            sliderImage.src = images.default;
            sliderImage.alt = "imagem padrão";
            p.textContent = "Realize seus sonhos com a gente!";
        });

        item.addEventListener("mousedown", () => {
            switch (num) {
            case 1:
                sliderImage.src = images.imovel;
                sliderImage.alt = "imagem de imovel";
                p.textContent = "Multiplique seu patrimônio";
                break;

            case 2:
                sliderImage.src = images.automovel;
                sliderImage.alt = "imagem de automovel";
                p.textContent = "Adquira seu primeiro veículo";
                break;

            case 3:
                sliderImage.src = images.moto;
                sliderImage.alt = "imagem de moto";
                p.textContent = "Adquira uma moto";
                break;

            case 4:
                sliderImage.src = images.servico;
                sliderImage.alt = "imagem de serviços";
                p.textContent = "Contrate serviços";
                break;

            case 5:
                sliderImage.src = images.pesados;
                sliderImage.alt = "imagem de pesados";
                p.textContent = "Expanda sua frota de caminhões";
                break;

            case 6:
                sliderImage.src = images.eletronicos;
                sliderImage.alt = "imagem de eletrônicos";
                p.textContent = "Adquira produtos eletrônicos";
                break;
            }
        });
    }
    for(let i = 1; i < 7; i++) {
        sliderCall(i);
    }
</script>
