<main id="main-container">
    <section class="section-1-top-card-container">
        <div class="main-top-card">
            <div class="left-card-container">
                <p>Comece agora a planejar o seu futuro através de nossas <span>soluções financeiras</span></p>
                <a href="/consorcio">
                    <button class="top-card-button">Faça uma simulação</button>
                </a>
            </div>
            <div class="right-card-slider">
                <p>
                    <h1>CARROSSEL</h1>
                </p>
            </div>
        </div>
    </section>
    <section class="section2MainContainer" id="nossos-servicos">
        <div class="scrollbarStyle section2Contents">
            <div class="section2Card1">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Agro</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Através do consórcio para o agronegócio, os produtores e empresas conseguem adquirir uma série de produtos ou soluções como renovar seus equipamentos ou frotas e assim aumentar a lucratividade.
                    </p>
                </div>
            </div>
            <div class="section2Card2">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Automóveis</p>
                </div>
                <div class="cardDescription">
                    <p>
                        O consórcio de automóveis da citybens é a forma mais eficaz, com melhor custo-benefício para aquisição do seu veículo.
                    </p>
                </div>
            </div>
            <div class="section2Card3">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Construção</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Através de nossas propostas estruturadas, o consórcio de construção pode ser a alternativa que você precisa para dar início à construção da casa ou reforma planejada.
                    </p>
                </div>
            </div>
            <div class="section2Card4">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Náutico</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Você pode adquirir o seu bem náutico de forma planejada e programada, a partir da contemplação por sorteio ou lances, fixo e livres. De forma segura e sem juros.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="sectionOutrosMain">
        <div class="secOutrosSubcontainer">
            <div class="secOutrosPrimary">
                <div class="secPrimaryMessageContainer">
                    <p>Veja as vantagens</p>
                    <h1>
                        De fazer um consórcio citybens
                    </h1>
                </div>
                <div class="secOutrosVantagens">
                    <div class="scrollbarStyle secOutrosCardsSubcontainer">
                        <div class="secVantagens secVantagens1">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-juros.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Juros zero</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    Escolha o crédito que você precisa e pague parcelas mensais sem juros, sem entrada e sem parcelas intermediárias.
                                </p>
                            </div>
                        </div>
                        <div class="secVantagens secVantagens2">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-sorteio.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Proposta personalizada</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    Com estudos personalizados conseguimos encontrar a melhor solução para o que você busca, através de nossa inteligência financeira.
                                </p>
                            </div>
                        </div>
                        <div class="secVantagens secVantagens3">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-seguranca.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Segurança</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    A citybens é reconhecida pelo prêmio Onofre Trajano de pesquisa de satisfação do cliente (NPS), e leva o título de empresa com maior volume de vendas no setor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ondeEncontrarContainer" data-aos="fade-right">
        <div class="ondeEncTitleContainer">
            <h1>Onde nos encontrar</h1>
        </div>
        <div class="ondeEncSubcontainer">
            <div class="scrollbarStyle ondeEncCardsContainer">
                <div class="ondeEncCard ondeEncCard1">
                    <div class="ondeEncCardBackground ondeEncBg1"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>Araçatuba</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
                <div class="ondeEncCard ondeEncCard2">
                    <div class="ondeEncCardBackground ondeEncBg2"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>São J. do Rio Preto</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
                <div class="ondeEncCard ondeEncCard3">
                    <div class="ondeEncCardBackground ondeEncBg3"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>Rio de Janeiro</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3-main-container">
        <div class="section-3-grid-items">
            <div class="section-3-titles">
                <h1>Baixe nosso aplicativo</h1>
                <p>Disponíveis na App Store e Google Play</p>
            </div>
            <div class="playstore-appstore-icons">
                <img src="/images/background/section-3/appstore.png" alt="Appstore">
                <img src="/images/background/section-3/playstore.png" alt="Google Playstore">
            </div>
            <div class="cellphone-background">
                <img src="/images/background/section-3/43.png" alt="imagem de um smarthphone">
            </div>
        </div>
    </section>
    <section class="section7MainContainer" id="quem-somos" data-aos="fade-right">
        <div class="s7Subcontainer">
            <div class="s7titleContainer">
                <h1>Quem somos</h1>
            </div>
            <div class="s7CardsContainer">
                <div class="s7card s7card1">
                    <div class="s7background s7background1"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            A Citybens, fintech de soluções financeiras nasceu em 2002 com o propósito claro de se tornar a maior e melhor representação de consórcio do Brasil. Com o objetivo bem definido e um time de excelência, conquistamos nosso lugar no mercado e nos tornamos cada vez mais competitivos.
                        </p>
                    </div>
                </div>
                <div class="s7card s7card2">
                    <div class="s7background s7background2"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            No Brasil, fomos pioneiros em levantar crédito para o agronegócio por meio do consórcio, e ações como essa nos deram uma série de conquistas e reconhecimentos das administradoras que representamos.
                        </p>
                    </div>
                </div>
                <div class="s7card s7card3">
                    <div class="s7background s7background3"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            Nosso time é especialista em atender clientes de pequeno, médio e grande porte, propondo aquisição de bens, redução de custos e multiplicação de patrimônio. Com toda expertise que acumulamos durante anos de trabalho, buscamos sempre oferecer uma solução inteligente, econômica e eficiente aos nossos clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blogMainContainer">
        <div class="blogSubcontainer">
            <div class="scrollbarStyle blogCardsContainer"></div>
        </div>
    </section>
</main>

<style>
    .blogMainContainer {
        width: 100%;
        height: auto;
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogSubcontainer {
        width: 100%;
        max-width: 2700px;
        display: flex;
        justify-content: center;
    }
    .blogCardsContainer {
        display: flex;
        overflow: auto;
        padding: 20px 10px;
    }
    .blogCard {
        max-width: 500px;
        min-width: 500px;
        height: 600px;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-radius: 20px;
    }
    .blogCard:not(:last-child) {
        margin: 0 20px 0 0;
    }
    .blogBackgroundContainer {
        max-width: 500px;
        width: 100%;
    }
    .blogBackgroundContainer img {
        max-width: 500px;
        width: 100%;
        max-height: 282px;
        border-radius: 20px 20px 0 0;
    }
    .blogBodyContent {
        padding: 10px 20px;
    }
    .blogBodyTitle {
        margin: 0 0 15px 0;
    }
    .blogBodyDescription {
        overflow-y: auto;
        max-height: 215px;
        color: black;
    }
    .blogBodyDescription p {
        color: black;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .blogDateContainer {
        position: absolute;
        bottom: 20px;
    }
    .blogDateContainer p {
        color: black;
        font-size: 1.3rem;
    }
    .blogPubButton {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    .blogPubButton a {
        font-size: 1.3rem;
    }
    @media screen and (max-width: 519px) {
        .blogCard {
            max-width: 500px;
            min-width: 100%;
            height: 160vw;
            max-height: 600px;
        }
    }
    @media screen and (max-width: 335px) {
        .blogPubButton {
            bottom: 50px;
        }
        .blogDateContainer {
            right: 20px;
        }
    }
</style>

<script>
    window.onload = () => {
        loadPostsFromBlog();
    }

    async function request() {
        const url = "http://localhost:5000/posts"

        try {
            const response = await fetch(url, {
                method: "GET"
            })
            .then(e => e.json())

            return response;
        } catch(err) {
            console.log({find_posts_error: err});
        }
    }

    async function loadPostsFromBlog() {
        const blogCardsContainer = document.querySelector(".blogCardsContainer");
        const data = await request();

        for(let i = 0; i < data.length; i++) {
            const pictureName = data[i].pictureSrc.split("\\")[2];
            const blogCard = mountBlogCard(data[i].title, data[i].description, backgroundImage(pictureName));

            blogCardsContainer.appendChild(blogCard);
        }


    }

    function backgroundImage(filename) {
        return `http://localhost:5000/posts/files/${filename}`;
    }

    function mountBlogCard(title, description, pictureSrc) {
        const blogCard = createNewHTMLElement("div", "blogCard");
        const blogBodyContainer = createNewHTMLElement("div", "blogBodyContainer");
        const blogBackgroundContainer = createNewHTMLElement("div", "blogBackgroundContainer");
        const img = createNewHTMLElement("img");
        const blogBodyContent = createNewHTMLElement("div", "blogBodyContent");
        const blogBodyTitle = createNewHTMLElement("div", "blogBodyTitle");
        const h1 = createNewHTMLElement("h1");
        const blogBodyDescription = createNewHTMLElement("div", "blogBodyDescription");
        const pDescription = createNewHTMLElement("p");
        const blogDateContainer = createNewHTMLElement("div", "blogDateContainer");
        const pBlogDate = createNewHTMLElement("blogDate");
        const blogPubButton = createNewHTMLElement("div", "blogPubButton");
        const aButton = createNewHTMLElement("a");

        aButton.href = "/consorcio";
        aButton.textContent = "Publicação completa →";
        blogPubButton.appendChild(aButton);
        pBlogDate.textContent = "Teste de elemento JS";
        blogDateContainer.appendChild(pBlogDate);
        pDescription.textContent = description;
        blogBodyDescription.appendChild(pDescription);
        h1.textContent = title;
        blogBodyTitle.appendChild(h1);
        blogBodyContent.appendChild(blogBodyTitle);
        blogBodyContent.appendChild(blogBodyDescription);
        blogBodyContent.appendChild(blogDateContainer);
        blogBodyContent.appendChild(blogPubButton);
        img.src = pictureSrc;
        blogBackgroundContainer.appendChild(img);
        blogBodyContainer.appendChild(blogBackgroundContainer);
        blogBodyContainer.appendChild(blogBodyContent);
        blogCard.appendChild(blogBodyContainer);

        return blogCard;
    }

    function createNewHTMLElement(el, __class = null) {
        const element = document.createElement(el);
        if(__class != null) {
            element.classList.add(__class);
        }

        return element;
    }

    createNewHTMLElement();
</script>
