<main id="main-container">
    <section class="section-1-top-card-container">
        <div class="main-top-card">
            <div class="left-card-container">
                <p>Comece agora a planejar o seu futuro através de nossas <span>soluções financeiras</span></p>
                <a href="/consorcio">
                    <button class="top-card-button">Faça uma simulação</button>
                </a>
            </div>
            <div class="right-card-slider">
                <p>
                    <h1>CARROSSEL</h1>
                </p>
            </div>
        </div>
    </section>
    <section id="section2MainContainer">
        <div class="scrollbarStyle section2Contents">
            <div class="section2Card1">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Agro</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Através do consórcio para o agronegócio, os produtores e empresas conseguem adquirir uma série de produtos ou soluções como renovar seus equipamentos ou frotas e assim aumentar a lucratividade.
                    </p>
                </div>
            </div>
            <div class="section2Card2">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Automóveis</p>
                </div>
                <div class="cardDescription">
                    <p>
                        O consórcio de automóveis da citybens é a forma mais eficaz, com melhor custo-benefício para aquisição do seu veículo.
                    </p>
                </div>
            </div>
            <div class="section2Card3">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Construção</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Através de nossas propostas estruturadas, o consórcio de construção pode ser a alternativa que você precisa para dar início à construção da casa ou reforma planejada.
                    </p>
                </div>
            </div>
            <div class="section2Card4">
                <div class="topicDescriptionContainer">
                    <p class="topicTypeDescription">Náutico</p>
                </div>
                <div class="cardDescription">
                    <p>
                        Você pode adquirir o seu bem náutico de forma planejada e programada, a partir da contemplação por sorteio ou lances, fixo e livres. De forma segura e sem juros.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="sectionOutrosMain">
        <div class="secOutrosSubcontainer">
            <div class="secOutrosPrimary">
                <div class="secPrimaryMessageContainer">
                    <p>Veja as vantagens</p>
                    <h1>
                        De fazer um consórcio citybens
                    </h1>
                </div>
                <div class="secOutrosVantagens">
                    <div class="scrollbarStyle secOutrosCardsSubcontainer">
                        <div class="secVantagens secVantagens1">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-juros.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Juros zero</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    Escolha o crédito que você precisa e pague parcelas mensais sem juros, sem entrada e sem parcelas intermediárias.
                                </p>
                            </div>
                        </div>
                        <div class="secVantagens secVantagens2">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-sorteio.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Proposta personalizada</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    Com estudos personalizados conseguimos encontrar a melhor solução para o que você busca, através de nossa inteligência financeira.
                                </p>
                            </div>
                        </div>
                        <div class="secVantagens secVantagens3">
                            <div class="secVantagemContentPrimary">
                                <div class="secVantagemIcon">
                                    <img src="/images/background/icon-seguranca.png" alt="">
                                </div>
                                <div class="secVantagemTitle">
                                    <h1>Segurança</h1>
                                </div>
                            </div>
                            <div class="secVantagemContentSecondary">
                                <p>
                                    A citybens é reconhecida pelo prêmio Onofre Trajano de pesquisa de satisfação do cliente (NPS), e leva o título de empresa com maior volume de vendas no setor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ondeEncontrarContainer" data-aos="fade-right">
        <div class="ondeEncTitleContainer">
            <h1>Onde nos encontrar</h1>
        </div>
        <div class="ondeEncSubcontainer">
            <div class="ondeEncCardsContainer">
                <div class="ondeEncCard ondeEncCard1">
                    <div class="ondeEncCardBackground ondeEncBg1"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>Araçatuba</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
                <div class="ondeEncCard ondeEncCard2">
                    <div class="ondeEncCardBackground ondeEncBg2"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>São J. do Rio Preto</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
                <div class="ondeEncCard ondeEncCard3">
                    <div class="ondeEncCardBackground ondeEncBg3"></div>
                    <div class="ondeEncContentContainer">
                        <div class="ondeEncCardTitle">
                            <h1>Rio de Janeiro</h1>
                        </div>
                        <div class="ondeEncCardButton">
                            <a href="/filiais">Visualizar localização →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3-main-container">
        <div class="section-3-grid-items">
            <div class="section-3-titles">
                <h1>Baixe nosso aplicativo</h1>
                <p>Disponíveis na App Store e Google Play</p>
            </div>
            <div class="playstore-appstore-icons">
                <img src="/images/background/section-3/appstore.png" alt="Appstore">
                <img src="/images/background/section-3/playstore.png" alt="Google Playstore">
            </div>
            <div class="cellphone-background">
                <img src="/images/background/section-3/43.png" alt="imagem de um smarthphone">
            </div>
        </div>
    </section>
    <section id="section7MainContainer" data-aos="fade-right">
        <div class="s7Subcontainer">
            <div class="s7titleContainer">
                <h1>Quem somos</h1>
            </div>
            <div class="s7CardsContainer">
                <div class="s7card s7card1">
                    <div class="s7background s7background1"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            A Citybens, fintech de soluções financeiras nasceu em 2002 com o propósito claro de se tornar a maior e melhor representação de consórcio do Brasil. Com o objetivo bem definido e um time de excelência, conquistamos nosso lugar no mercado e nos tornamos cada vez mais competitivos.
                        </p>
                    </div>
                </div>
                <div class="s7card s7card2">
                    <div class="s7background s7background2"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            No Brasil, fomos pioneiros em levantar crédito para o agronegócio por meio do consórcio, e ações como essa nos deram uma série de conquistas e reconhecimentos das administradoras que representamos.
                        </p>
                    </div>
                </div>
                <div class="s7card s7card3">
                    <div class="s7background s7background3"></div>
                    <div class="s7cardInternContainer">
                        <p>
                            Nosso time é especialista em atender clientes de pequeno, médio e grande porte, propondo aquisição de bens, redução de custos e multiplicação de patrimônio. Com toda expertise que acumulamos durante anos de trabalho, buscamos sempre oferecer uma solução inteligente, econômica e eficiente aos nossos clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-8-main-container">
        <div class="section-8-contents">
            <div class="blog-title">
                <h1>Blog citybens</h1>
                <button class="blog-button">Acessar</button>
            </div>
            <div class="section-8-cards-container">
                <div class="section-8-card section-8-card-1">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quam hic, maxime nesciunt, odio at deleniti aspernatur id nostrum molestias voluptates ut laudantium reiciendis officia, ad quo quaerat minus.</p>
                    <div class="card-date-container">
                        <h1>26</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At minus animi officiis illum cumque, fugit beatae soluta deserunt explicabo laborum veritatis corporis molestias, maiores autem porro dignissimos id ea eaque.</p>
                    <div class="card-date-container">
                        <h1>27</h1>
                        <p>2022</p>
                    </div>
                </div>
                <div class="section-8-card section-8-card-3">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis necessitatibus soluta quos consequatur dignissimos voluptatem tempore reiciendis dicta neque, vero officiis. Rem ipsum dignissimos nostrum enim adipisci ut eaque eligendi?</p>
                    <div class="card-date-container">
                        <h1>28</h1>
                        <p>2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
