<main id="consorcio-dados-container">
    <div class="consorcio-dados-subcontainer">
        <div class="consorcio-dados-title">
            <p class="dados-hello">Olá!</p>
            <div class="opcao-consorcio-escolhida">
                <i class="escolha-icone material-icons"></i>
                <div>
                    <p class="escolha-text"></p>
                    <p class="last_word_format"></p>
                </div>
            </div>
            <p>*Antes de continuar, precisamos de algumas informações.</p>
        </div>
        <form class="consorcio-dados-form" method="post" action="/simulacao">
            <input class="consorcio-dados-input consorcio-dados-input-name" type="text" name="dadosInputNome" id="input-name" placeholder="Nome Completo (Obrigatório)" required>

            <input type="hidden" name="consorcioDadosValue" class="escolha-text-input" value="{{text}}">

            <input class="consorcio-dados-input consorcio-dados-input-email" type="email" name="dadosInputEmail" id="input-email" placeholder="E-mail (Obrigatório)" required>

            <div class="input-celular-container">
                <input class="consorcio-dados-input consorcio-dados-input-celular" type="tel" name="dadosInputCelular" id="input-celular" placeholder="Celular (Obrigatório)" required>
            </div>

            <div class="input-cep-container">
                <input class="consorcio-dados-input consorcio-dados-input-cep" type="text" name="dadosInputCep" id="input-cep" placeholder="CEP (Obrigatório)" required>
            </div>

            <div class="termos-de-uso">
                <input class="checkbox-termos" type="checkbox" name="dadosInputTermos" id="input-termos" required checked>
                <p>
                    Eu concordo com o <a target="_blank" href="/termos-de-uso">termo de privacidade</a>
                </p>
            </div>

            <div class="dados-button-container">
                <input class="btn-enviar-dados" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</main>

<style>
</style>

<script>
    const formulario = document.querySelector(".consorcio-dados-form");

    formulario.addEventListener("submit", () => {
        const name = document.querySelector("#input-name").value;
        const email = document.querySelector("#input-email").value;
        const celular = document.querySelector("#input-celular").value;
        const cep = document.querySelector("#input-cep").value;
        const termos = document.querySelector("#input-termos").value;

        const dadosUser = JSON.stringify({
            name: name,
            email: email,
            celular: celular,
            cep: cep,
            termos: termos
        });
        sessionStorage.setItem("dadosUsuario", dadosUser);
    });

    window.onload = () => {
        const valor = document.querySelector('.checkbox-termos');
        const icone = sessionStorage.getItem("icone");
        const consorcioDe = sessionStorage.getItem("consorcioDe");
        const span = sessionStorage.getItem("span");

        document.querySelector(".last_word_format").textContent = span;
        document.querySelector(".escolha-text").textContent = consorcioDe;
        document.querySelector(".escolha-icone").textContent = icone;

        if(valor.checked) {
            valor.value = 'Concordo com os termos'
        } else {
            valor.value = 'Não concordo com os termos'
        }
    };
</script>
