<style>
    /* Sessão 7 */
.section-7-main-container {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-7-card {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-areas:
        'card-1 card-2'
     ;
}

.section-7-left-card {
    background-color: var(--city-background-3);
    display: grid;
    justify-items: center;
    grid-template-areas:
        'title'
        'input'
        'moedas'
        'taxa'
    ;
    border-radius: 25px 0 0 25px;
    padding: 40px 30px;
    color: var(--city-background-4);
    font-size: 13px;
    grid-area: card-1;
    text-align: center;
}

.card-left-taxa {
    grid-area: taxa;
}

.section-7-right-card h1 {
    text-align: center;
}

.section-7-left-card,
.section-7-right-card {
    max-width: 500px;
    width: 100%;
}

.section-7-left-card h1 {
    color: #fff;
    font-weight: 200;
    font-size: 2em;
    grid-area: title;
}

.section-7-left-card h1,
.input-number-container input[type=number] {
    margin: 0 0 6% 0;
}

.input-number-container {
    width: 100%;
    position: relative;
    grid-area: input;
}

.left-card-contents {
    max-width: 430px;
    width: 100%;
}

.input-number-container input[type=number] {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border: 2px solid var(--city-background-blue);
    padding: 40px 20px 20px 20px;
    font-size: 18px;
}

.input-number-container input[type=number]:focus {
    outline: 0;
}

.manual-placeholder {
    color: var(--city-background-4);
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 20px;
}

.moedas-container {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moedas-container button {
    border-radius: 30px;
    padding: 3px 15px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.moedas-container button:hover {
    background-color: var(--city-background-green);
    transition-duration: 0.3s;
}

.moedas-container button:focus {
    background-color: var(--city-background-green);
    color: #fff;
}

.section-7-right-card {
    border-radius: 0 25px 25px 0;
    background-color: var(--city-background-2);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: card-2;
}

.section-7-right-card-container {
    width: 100%;
    text-align: center;
}

.section-7-right-card-container th {
    color: #262626;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 0;
}

.section-7-right-card-container td {
    font-size: 1.8rem;
    padding: 8px 0;
    font-weight: 100;
}

.section-7-right-card-container tr:not(:last-child) {
    border-bottom: 1px solid rgb(202, 202, 202);
}

.section-7-right-card-container
td:first-child,
th:first-child {
    text-align: start;
}

.section-7-right-card-container
th:last-child {
    text-align: end;
}

.section-7-right-card-container
td:last-child {
    color: var(--city-background-blue);
    text-align: end;
}

.section-7-table-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
}

.section-7-table-buttons
button {
    width: 170px;
    height: 35px;
    border-radius: 25px;
}

.section-7-table-buttons
button:nth-of-type(1) {
    background-color: var(--city-background-blue);
    border: 0;
    color: #fff;
}

.section-7-table-buttons
button:nth-of-type(1):hover{
    background-color: #0511F2;
    transition: background-color 0.3s ease;
}

.section-7-table-buttons
button:nth-of-type(2) {
    border: 2px solid var(--city-background-blue);
}
/* Fim sessão 7 */
</style>

<!-- Fim display none -->
    {{!-- <section class="section-7-main-container">
        <div class="section-7-card">
            <div class="section-7-left-card">
                <div class="left-card-contents">
                    <h1>Lorem ipsum dolor</h1>
                    <div class="input-number-container">
                        <input type="number" step="0.01" name="valor" min="0.01">
                        <p class="manual-placeholder">Informar valor</p>
                    </div>
                    <div class="moedas-container">
                        <button>BRL</button>
                        <button>EUR</button>
                        <button>USD</button>
                        <button>GBP</button>
                        <button>CHF</button>
                    </div>
                    <p class="card-left-taxa">
                        *Sujeito a taxas em relação a cotação atual da moeda.
                    </p>
                </div>
            </div>
            <div class="section-7-right-card">
                <h1>Tabela de valores de cotação</h1>
                <table class="section-7-right-card-container">
                    <thead>
                        <th>Moeda</th>
                        <th>Cotação</th>
                        <th>valor total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EUR</td>
                            <td>R$ 5.53</td>
                            <td>R$ 10.00</td>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td>R$ 5.26</td>
                            <td>R$ 7,00</td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>R$ 6,41</td>
                            <td>R$ 12,00</td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>R$ 5,49</td>
                            <td>R$ 9,00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="section-7-table-buttons">
                    <button>Lorem ipsum</button>
                    <button>Lorem ipsum</button>
                </div>
            </div>
        </div>
    </section> --}}
