<header id="header-container">
    <div class="header-subcontainer">
        <div class="header-logo">
            <a href="/">
                <img src="/images/icons/citybens/logotipo-branco-horiz.png" alt="Logotipo cabeçalho">
            </a>
        </div>
        <nav class="header-navigation">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <ul>
                <li><a href="#section7MainContainer">QUEM SOMOS</a></li>
                <li><a href="#section2MainContainer">SERVIÇOS</a></li>
                <li><a href="/filiais">Filiais</a></li>
                <li><a href="#footer-container">FALE CONOSCO</a></li>
            </ul>
            <div class="navigation-button">
                <a href="/consorcio">
                    <button>Simular consórcio</button>
                </a>
            </div>
        </nav>
    </div>
</header>

<script>
    const menuSection = document.querySelector(".header-navigation");
    const menuToggle = menuSection.querySelector(".menu-toggle");
    const navigations = menuSection.querySelectorAll("li");
    let show = true;

    for(let i = 0; i < navigations.length; i++) {
        setToggleEvent(navigations[i]);
    }

    setToggleEvent(menuToggle);

    function setToggleEvent(el) {
        return el.addEventListener("click", toggleHeaderResponsivity);
    }

    function toggleHeaderResponsivity() {
        document.body.style.overflow = show ? "hidden" : "initial";

        menuSection.classList.toggle("on", show);
        show = !show;
    }

    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("header-container").style.top = "0";
        } else {
            document.getElementById("header-container").style.top = "-90px";
        }
        prevScrollpos = currentScrollPos;
    };
</script>
